In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
complainData = pd.read_csv('./P9-ConsumerComplaints.csv')

/home/ceasar/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (5,11,17,18,19,20) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
complainData.head()

,Date Received,Product Name,Sub Product,Issue,Sub Issue,Consumer Complaint Narrative,Company Public Response,Company,State Name,Zip Code,...,Submitted via,Date Sent to Company,Company Response to Consumer,Timely Response,Consumer Disputed,Complaint ID,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,2013-07-29,Consumer Loan,Vehicle loan,Managing the loan or lease,NaN,NaN,NaN,Wells Fargo & Company,VA,24540,...,Phone,2013-07-30,Closed with explanation,Yes,No,468882,NaN,NaN,NaN,NaN
1,2013-07-29,Bank account or service,Checking account,Using a debit or ATM card,NaN,NaN,NaN,Wells Fargo & Company,CA,95992,...,Web,2013-07-31,Closed with explanation,Yes,No,468889,NaN,NaN,NaN,NaN
2,2013-07-29,Bank account or service,Checking account,"Account opening, closing, or management",NaN,NaN,NaN,Santander Bank US,NY,10065,...,Fax,2013-07-31,Closed,Yes,No,468879,NaN,NaN,NaN,NaN
3,2013-07-29,Bank account or service,Checking account,Deposits and withdrawals,NaN,NaN,NaN,Wells Fargo & Company,GA,30084,...,Web,2013-07-30,Closed with explanation,Yes,No,468949,NaN,NaN,NaN,NaN
4,2013-07-29,Mortgage,Conventional fixed mortgage,"Loan servicing, payments, escrow account",NaN,NaN,NaN,Franklin Credit Management,CT,6106,...,Web,2013-07-30,Closed with explanation,Yes,No,475823,NaN,NaN,NaN,NaN

In [9]:
complainData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65499 entries, 0 to 65498
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Date Received                 65499 non-null  object
 1   Product Name                  65499 non-null  object
 2   Sub Product                   46935 non-null  object
 3   Issue                         65499 non-null  object
 4   Sub Issue                     30658 non-null  object
 5   Consumer Complaint Narrative  2614 non-null   object
 6   Company Public Response       2451 non-null   object
 7   Company                       65499 non-null  object
 8   State Name                    65021 non-null  object
 9   Zip Code                      65021 non-null  object
 10  Tags                          9683 non-null   object
 11  Consumer Consent Provided     4758 non-null   object
 12  Submitted via                 65499 non-null  object
 13  Date Sent to Company          65499 non-null  object
 14  Company Response to Consumer  65498 non-null  object
 15  Timely Response               65499 non-null  object
 16  Consumer Disputed             64391 non-null  object
 17  Complaint ID                  65499 non-null  object
 18  Unnamed: 18                   3 non-null      object
 19  Unnamed: 19                   1 non-null      object
 20  Unnamed: 20                   1 non-null      object
 21  Unnamed: 21                   1 non-null      float64
dtypes: float64(1), object(21)
memory usage: 11.0+ MB

In [11]:
complainData.isnull().sum()

Date Received                       0
Product Name                        0
Sub Product                     18564
Issue                               0
Sub Issue                       34841
Consumer Complaint Narrative    62885
Company Public Response         63048
Company                             0
State Name                        478
Zip Code                          478
Tags                            55816
Consumer Consent Provided       60741
Submitted via                       0
Date Sent to Company                0
Company Response to Consumer        1
Timely Response                     0
Consumer Disputed                1108
Complaint ID                        0
Unnamed: 18                     65496
Unnamed: 19                     65498
Unnamed: 20                     65498
Unnamed: 21                     65498
dtype: int64

In [13]:
complainData.duplicated().sum()

0

In [16]:
x = complainData.iloc[ : , 12:13 ]
x.head()

  Submitted via
0         Phone
1           Web
2           Fax
3           Web
4           Web

In [17]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

le.fit_transform(x)

/home/ceasar/.local/lib/python3.6/site-packages/sklearn/utils/validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

array([4, 7, 2, ..., 7, 4, 7])

In [25]:
y = complainData.iloc[ : , 3:4 ]
y.head()

                                      Issue
0                Managing the loan or lease
1                 Using a debit or ATM card
2   Account opening, closing, or management
3                  Deposits and withdrawals
4  Loan servicing, payments, escrow account

In [31]:
s = complainData.iloc[ : , 12:13]
s.head()

  Submitted via
0         Phone
1           Web
2           Fax
3           Web
4           Web

In [27]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

le.fit_transform(y)

array([61, 89,  1, ..., 24, 24,  7])

In [38]:
import seaborn as sns

sns.catplot(x="Submitted via", y = s, kind="swarm", data=complainData);

ValueError: Neither the `x` nor `y` variable appears to be numeric.